<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sql3" connectionString="Data Source=uisappsrvtest1.uismt.edu;Initial Catalog=myschedule;Persist Security Info=True;User ID=MySchedule;Password=need2knowbasis" providerName="System.Data.SqlClient"/>
    <add name="sql4" connectionString="Data Source=uisprodmssql\uisprodmssql;Initial Catalog=myschedule;Persist Security Info=True;User ID=MySchedule;Password=MS7172013" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="prodservers" value="Uisppsrvprod1, Uisclntsrvprod1"/>
    <add key="testservers" value="UIsappsrvtest1, Uisappsrvtest2"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
   
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <compilation/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <!--<security>
      <authentication>
        <anonymousAuthentication enabled="true"/>
      </authentication>
    </security>-->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument enabled="true" />
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
</configuration>